<% @directories.each do |directory| %>
  <div>
    <i class="fa fa-folder"></i>
    <%= link_to directory, directory_path(directory) %>
  </div>
<% end %>

<% @contents.each do |object| %>
  <div>
    <%= link_to object, signed_url(object) %>
  </div>
<% end %>



