<h1> Contents </h1>
<% @contents.each do |object| %>
  <div>
    <%= object %>
  </div>
<% end %>

<h1> Directories </h1>
<% @directories.each do |directory| %>
  <div>
    <%= directory.prefix %>
  </div>
<% end %>


