<div>
  <i class="fa fa-angle-left"></i> <%= up_directory %>
</div>
<div>
  <i class="fa fa-folder-open-o"></i> <%= title %>
</div>

<div class = "directories">
  <% @directories.each do |directory| %>
    <div>
      <i class="fa fa-folder-o"></i>
      <%= link_to directory, directory_path(directory) %>
    </div>
  <% end %>

  <% @contents.each do |object| %>
    <div>
      <%= link_to object, signed_url(object) %>
    </div>
  <% end %>
</div>


